.accordion li.dcjq-parent-li {position: relative;}
.accordion li > a + .dcjq-icon {float: right; width: 39px; height: 39px; position: absolute; top: 0; right: 0; background: url(../image/plus_red.png) no-repeat center; cursor:pointer}
.accordion li.dcjq-parent-li .dcjq-icon:hover {background: url(../image/plus_red_hover.png) no-repeat center #FFFFFF;}
.accordion li.dcjq-parent-li > a + .dcjq-icon {display: block; width: 39px; height: 39px; background: url(../image/plus_red.png) no-repeat center;}
.accordion li.dcjq-parent-li > a.active + .dcjq-icon {display: block; width: 39px; height: 39px; background: url(../image/minus_red.png) no-repeat center;}
.accordion li.dcjq-parent-li > a.active + .dcjq-icon:hover {background: url(../image/minus_red.png) no-repeat center #FFFFFF;}
.accordion li > a + .dcjq-icon {display: none;}
.accordion li > a.active + .dcjq-icon {display: none;}