#livesearch_search_results {
        margin:0px;
        padding:0px;
        position: absolute;
        top: 38px;
        left: 0px;
        background-color: #FFF;
        list-style-type: none;
        z-index: 12;
		width: 100%;
        min-width: 160px;
		border-left: 1px solid #CCC;
		border-right: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
		box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
#livesearch_search_results li {
        padding: 12px 15px;
		border-bottom: 1px solid #F1F1F1;
}
#livesearch_search_results li:last-child  {
     	border-bottom: none;
}
#livesearch_search_results a,
#livesearch_search_results a:visited,
#livesearch_search_results a:hover {
        color: #464646;
        text-decoration: none;
}
#livesearch_search_results li:hover a {
        color: #FFFFFF;
}
#livesearch_search_results li {
        transition: all 0.2s ease-in 0s;	
}
#livesearch_search_results .highlighted a {
        color: #FFFFFF;
}

